.slider-container {
  background-color: #fff2e9;
  width: 100%;
  height: 380px;
  margin-top: -10px;
  overflow-x: hidden !important;
}

.slider-title {
  text-transform: uppercase;
  font-size: 0.9rem;
  padding-top: 40px;
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  .slider-container {
    height: 440px;
    margin-top: -2px;
  }
}
